<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="admin-page">
    <header class="admin-header">
        <h1>Admin Dashboard</h1>
    </header>

    <main>
        <section class="admin-options">
            <div class="option-card">
                <h2>View Performance</h2>
                <p>Analyze the performance metrics of members.</p>
                <a href="#" class="btn">View Performance</a>
            </div>
            <!-- Logout Option Card -->
            <div class="option-card">
                <h2>Logout</h2>
                <p>End your current session and logout.</p>
                <form action="{{ url_for('logout') }}" method="POST">
                    <!-- <button type="submit" class="btn">Logout</button> -->
                    <a href="/logout" class="btn">Logout</a>
                </form>
            </div>
        </section>
    </main>
</body>
</html>
